@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #0C93C0;  
  --color-secondary: #fff;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-size-base: 1rem;
}

@layer base {
  :root {
    --primary: var(--color-primary);
    --secondary: var(--color-secondary);
    --textColor: var(--color-textColor);
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}